# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. SQL
4.  C++
5.  Java etc..;

Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. Scikit-Learn.
8. PyTorch. etc..;

| Data Science Tools|
| :-------: | 
| SAS  |
| Apache Hadoop |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/6  #This will convert 200 minutes to hours by diving by 60

33.333333333333336



**Objectives:**

* List popular languages for Data Science.
* Explain the differences between R and Python for data analysis.
* Describe the basic functionalities of Jupyter Notebook.
* Illustrate how to create and format tables in a notebook.
* (Optional) Briefly mention any other key concepts covered.

Author
## MANIKANTA PAMMI